header img
{
    width: 300px;
    padding: 15px;
    box-sizing: border-box;
}

header input
{
    position: absolute;
    width: 450px;
    left: calc(50% - 225px);
    top: 1.5em;
}

header span
{
    position: absolute;
    right: 15px;
    top: 1.5em;
}

header span a
{
    color: black;
    text-decoration: none;
}

header nav
{
    background-color: lightblue;
    padding: 15px;
}

header nav a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 1.5em;
}

aside,
main
{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    min-height: calc(300vh);
}

aside
{
    width: 15%;
    padding: 15px;
    background-color: whitesmoke;
}

main
{
    width: calc(85% - 5px);
}

main div
{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 250px;
    padding: 15px;
    border: solid 2px lightgrey;
    margin: 15px 0 0 15px;
}

main div img
{
    width: 100%;
}

main div h5
{
    color: dodgerblue;
}


main div p
{
    color: black;
    font-weight: bolder;
}
